.search {
    display: flex;
    padding-top: 80px;
    padding-bottom: 20px;
    justify-content: center;
    position: sticky;
    top: 50px;
    left: 0;
    background: white;
}

.products__search {
    font-size: 20px;
    width: 350px;
    height: 35px;
    padding-left: 7px;
    border-radius: 0.25rem;
    transition: border-color 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    border: 1px solid #616060;
}

.products__search::placeholder {
    opacity: 0.4;
}

.products__search:focus {
    background-color: #fff;
    border-color: #0082c6;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.products__filter {
    margin-left: 20px;
    padding-left: 5px;
    font-size: 15px;
    width: 150px;
    height: 35px;
    border-radius: 0.25rem;
    transition: border-color 0.14s ease-in-out;
    transition: box-shadow 0.14s ease-in-out;
    border: 1px solid #616060;
}

.products__filter:focus {
    background-color: #fff;
    border-color: #0082c6;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.products__container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {

    .search {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 20px;
        align-items: center;
        position: sticky;
        top: 50px;
        left: 0;
        background: white;
    }
    
    .products__search {
        font-size: 20px;
        width: 320px;
        height: 35px;
        margin-bottom: 10px;
        padding-left: 7px;
        border-radius: 0.25rem;
        transition: border-color 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-in-out;
        border: 1px solid #616060;
    }
    
    .products__search::placeholder {
        opacity: 0.4;
    }
    
    .products__search:focus {
        background-color: #fff;
        border-color: #0082c6;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
    
    .products__filter {
        margin: 0;
        padding-left: 5px;
        font-size: 15px;
        width: 150px;
        height: 35px;
        border-radius: 0.25rem;
        transition: border-color 0.14s ease-in-out;
        transition: box-shadow 0.14s ease-in-out;
        border: 1px solid #616060;
    }
    
    .products__filter:focus {
        background-color: #fff;
        border-color: #0082c6;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
    
    .products__container {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
}