.basket__title {
    display: flex;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 20px;
    font-size: 25px;
}

.basket__products {
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {

    .basket__title {
        display: flex;
        justify-content: center;
        padding-top: 130px;
        font-size: 25px;
    }

    .basket__products {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
}