.card {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    flex-direction: column;
    border: 2px solid #e7e4e4;
    border-radius: 15px;
    padding: 15px;
}

.card__title {
    font-size: 20px;
    padding-bottom: 10px;
}

.card__description {
    font-size: 17px;
    padding-top: 10px;
    line-height: 1.5;
}

.card__price {
    font-size: 20px;
    padding-top: 10px;
}

.card img {
    width: 80px;
    height: 80px;
}