.back-link {
    padding: 120px 0 0 30px;
    font-size: 17px;
}

.back-link a {
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}

.back-link a:visited {
    color: black;
}

.back-link a:hover {
    border-bottom: 1px solid rgba(0,0,0,0);
}

.card-opening {
    position: relative;
    top: 30px;
    left: 0;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid #e7e4e4;
    border-radius: 15px;
}

.card-opening__title {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}

.card-opening__image {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.card-opening img {
    width: 200px;
    height: 200px;
}

.card-opening__price {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.button {
    display: flex;
    justify-content: center;
}

.card-opening__button {
    position: absolute;
    top: 330px;
    left: 352px;
    width: 100px;
    height: 35px;
    font-size: 18px;
    background: #e7e4e4;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.card-opening__button:hover {
    background: #1d49aa;
    color: white;
}