.header {
    display: flex;
    min-width: 1400px;
    height: 100px;
    box-shadow: 0 3px 3px #0082c6;
    align-items: center;
    background: #e7e4e4;
    position: fixed;
    z-index: 1;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 25px;
    color: black;
}

.header-logo {
    width: 110px;
    height: 70px;
    margin-left: 40px;
}

.header-title {
    display: flex;
    padding: 0 0 0 400px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: black;
}

.header-title__feedback {
    padding-left: 30px;
}

.header-title__basket {
    padding-left: 30px;
}

.header-title__basket img {
    width: 25px;
    height: 25px;
}
